.hidden {
  display: none;
}

.new-entry-wrapper {
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 5vh;
}

.text-entries {
  font-size: xx-large;
  font-weight: bolder;
}

.button-new-entry {
  margin-top: 10px;
  font-family: "Cormorant SC", serif;
  background-color: rgb(34, 50, 65);
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: medium;
}

.new-text-entry {
  font-size: xx-large;
  font-weight: bolder;
}

.img-entry > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.label-header-entry {
  font-weight: 500;
  margin-left: 2px;
  width: 100%;
  margin-top: 4px;
  padding-bottom: 10px;
}

.input-mod-entry {
  padding: 5px 0;
  border: 1.5px solid;
  border-color: rgb(182, 182, 182);
  box-shadow: none;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 13px;
  outline: none;
}

.input-mod-entry:hover {
  border-color: rgb(34, 50, 65);
}

.button-wrapper-entry {
  justify-content: end;
}

.button-submission-entry {
  font-family: "Cormorant SC", serif;
  background-color: rgb(34, 50, 65);
  color: white;
  margin: 15px 0 25px;
  padding: 10px 18px;
  justify-content: end;
  border-radius: 5px;
  font-size: medium;
}

/* View Entry */
.img-view-entry > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.view-text-entry {
  font-size: xx-large;
  font-weight: bolder;
  width: 100%;
}

.view-note-entry {
  font-weight: 500;
  width: 100%;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.paragraph-intro {
  text-align: center;
  font-size: x-large;
}

.fa-pencil-alt {
  margin-top: 1rem;
  color: rgb(34, 50, 65);
  font-size: 20px;
}

.edit-icon-wrapper {
  flex-wrap: nowrap;
}
